.object{
    list-style: none;
}
table{
    border-collapse: collapse;
}
th,tr,td{
    border: 2px solid black;
    width: 72px;
    height: 25px;
}
input{
    border: none;
    outline: none;
    width: 72px;
    background-color: white;
}
.item{
    height: 100px;
    width: 60px;
    margin: 10px;
    float: left;
    background-color: rgb(1, 14, 9);
    color: antiquewhite;
    text-align: center;
    position: relative;
    z-index: 2;
}
#bag-area{
    text-align: center;
    font-size: 25px;
    line-height: 197px;
    width: 500px;
    height: 230px;
    background-color: bisque;
    color: black;
    position: absolute;
    left: 2vw;
    top: 60vh;
}
.but{
    border-radius: 5%;
    text-align: center;
    line-height: 40px;
    width: 100px;
    height: 40px;
    background-color: bisque;
    color: black;
    position: absolute;
    
}
#submit-btn{
    border-radius: 5%;
    left: 540px;
    top: 150px;
}
#zero-one{
    left: 540px;
    top: 300px;
}
#complete-bag{
    left: 540px;
    top: 250px;
}
#recover{
    left: 540px;
    top: 200px;
}
#multi-bag{
    left: 540px;
    top: 350px;
}
